<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <img class="img-rounded" style="width: 100%" ng-src="{{ baseUrl + '/media/' + photo.filename }}">
        </div>
        <div class="col-md-8">
            <h4>Comments <button class="btn btn-danger btn-xs pull-right" ng-show="$root.user.id == photo.user_id" ng-click="deletePhoto()"><span class="fui-trash"></span> Delete photo</button></h4>
            <hr>

            <div class="form-group" ng-repeat="comment in photo.comments">
                <b>{{ comment.user.username }}</b> {{ comment.text }}
            </div>

            <form>
                <div class="form-group" ng-show="$root.user">
                    <div class="input-group">
                        <input class="form-control" placeholder="Submit a comment.." ng-model="text">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-click="submitComment()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
